body {
  background-color: black;
}

.main {
  background-color: white;
  margin-top: 110px;
  padding-left: 100px;
  min-width: 1200px;
  height: 500px;
  position: relative;
  z-index: 1;
}
.ryu{
  float:left;
}
.ryu {
    width: 659px;
    height: 494px;
}

.ryu-ready, .ryu-still, .ryu-throwing , .ryu-cool {
  width: 659px;
  height: 494px;
}

.ryu-ready, .ryu-throwing, .ryu-cool {
  display: none;
} 

.ryu-ready {
  background-image: url('https://raw.githubusercontent.com/Masonwharr/jquery-streetfighter/master/images/ryu-ready-position.gif');
}

.ryu-still {
  background-image: url('https://raw.githubusercontent.com/Masonwharr/jquery-streetfighter/master/images/ryu-standing-still.png');
}

.ryu-throwing {
  background-image: url('https://raw.githubusercontent.com/Masonwharr/jquery-streetfighter/master/images/ryu-throwing-hadouken.png');
}
.hadouken, .ryu-cool, .ryu-ready, .ryu-still, .ryu-throwing {
  background-repeat: no-repeat;
}
.ryu-cool{
  background-image:
url('https://raw.githubusercontent.com/Thinkful-Ed/streetfighter-starter/master/images/ryu-cool.gif');

}

.how{
  position:relative;
  top:420px;
  margin:0;
  margin-bottom:-40px;
  padding:0;
}
    



.hadouken {
  background-image: url('https://raw.githubusercontent.com/Masonwharr/jquery-streetfighter/master/images/hadouken.gif');
  width: 156px; 
  height: 90px;
  display:none;
  position: absolute;
  z-index: 10;
  top: 167px;
  left: 520px;
  float: left;
}
